/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}
header {
  padding-left: none;
  background-color: rgb(66, 72, 79);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  font-weight: bold;
  margin: 1.25em none;
  padding-right: .5em;
  font-size: 36px;
  background-color: turquoise;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-left: 2em;
}
header h1 a{
  color: rgb(66, 72, 79);
  text-decoration: none;
}
header li a {
  text-decoration: none;
  color: turquoise;
  padding: 5px;
  border-bottom: 4px solid turquoise;
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
}

/* Sections */
.about-me, .work, .contact-me{
  display: flex;
  margin-top: 2em;
}
section h2{
  width: 15vw;
  margin-right: 0.25em;
  text-align: right;
  font-size: x-large;
  color: rgba(32, 38, 116, 0.946);
}

.right{
  padding-left: 2em;
  border-left: 4px solid rgba(32, 38, 116, 0.946);
  width: 70%;
}
.right p{
  margin-top: 0;
  margin-left: 2em;
  text-align: left;
  color: rgba(32, 38, 116, 0.946);
}
#contact-me ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
#contact-me ul a{
  text-decoration: none;
  padding: 5px;
  border-bottom: 4px solid rgba(32, 38, 116, 0.946);
  font-size: larger;
  color: rgba(32, 38, 116, 0.946);
}
.container{
  position: relative;
}
.text-block-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: turquoise;  
}
.text-block-left {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: turquoise; 
}
.border{
  /* border: 6px solid turquoise; */
  margin: 2em;
  padding: none;
  
}
/* .row{
  display:inline-block;
  justify-content: space-between;
} */
div img{
  width:100%;
  height:100%;
  object-fit:cover;
  margin: none;
  opacity: 0.6;
}
div img:hover{
  opacity: 1;
}
.float-container {
  border: 3px solid #fff;
}

.float-child {
  display: inline;
  width: 50%;
  float: left;
  height: 20vmax;
  padding: 5px 5px;
  margin: none;
}  

 

